.crew-member-card-container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .full_name {
      margin-right: 10px;
    }
  }

  .image-container {
    height: 250px;
    border-bottom: solid var(--border-width) var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &::part(base) {
    height: 100%;
  }

  .skill {
    display: flex;
    align-items: center;

    sl-icon {
      margin-right: 10px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    sl-button {
      display: flex;
      align-items: center;

      sl-icon {
        margin-right: 10px;
      }
    }
  }
}
