.edit-new-member-dialog {
  form {
    display: flex;
    flex-direction: column;

    & > *:not(:first-child) {
      margin-top: 20px;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > * {
        margin-left: 15px;
      }
    }
  }
}
